body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.stroke {
  fill: none;
  stroke: #6EABEE;
  stroke-width: 1.5px;
}
.fill {
  fill: #6EABEE;
}
.highlightText {
  fill: #66A4E6
}
.performanceContainer {
  float: left;
}
.circlesContainer {
  display: block;
}
.arcsContainer {
  display: block;
  float: left;
}
.backgroundArc {
  fill: #DDD;
}
.trendsContainer {
  clear: both;
  display: block;
  /*margin: auto;*/
}
.axisLabel {

}

